# Supabase Configuration
SUPABASE_URL=https://qejgsfjxqqtbakcrdfpk.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFlamdzZmp4cXF0YmFrY3JkZnBrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ0MjgxNzAsImV4cCI6MjA5MDAwNDE3MH0.7hKhEMu3WpIaz1BZ6uSh43jbf2qxrL2EHQ66TGjWljc
